body {
  box-sizing: border-box;
  background: whitesmoke;
  margin: 0;
}

nav {
  font-family: "Tilt Prism", cursive;
  font-size: 5rem;
  background: rgba(236, 97, 218, 0.2);
  text-align: center;
  color: #23c9ff;
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  margin-left: 2rem;
  margin-top: 2rem;
}
.anim {
  margin-top: 2rem;
  width: 10rem;
  height: 10rem;
  background-color: blue;
  animation: animate 4s infinite forwards;
  background-size: contain;
  &:hover {
    cursor: pointer;
    background-image: url("./images/profile_picture.jpg") !important;
    background-position: center;
  }
}

@keyframes animate {
  20% {
    background: red;
    color: red;
    transform: rotate(45deg);
  }
  40% {
    background: orange;
    transform: rotate(90deg);
    transform: scale(0.7);
    border-radius: 50%;
  }
  60% {
    background-color: pink;
    transform: rotate(-45deg);
    transform: scale(1.2);
    border-radius: 5%;
  }
  80% {
    background-color: yellow;
    transform: rotate(180deg);
    transform: scale(0.5);
    border-radius: 50%;
  }
}

.fa-down-long {
  margin-left: 4rem;
  font-size: 4rem;
  color: rgb(217, 0, 255);
}

.linkList {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  div {
    background: white;
    width: 25rem;
    height: 100%;
    padding-bottom: 0.5rem;
    border-bottom: 0.3rem solid rgba(247, 107, 56, 0.92);
    border-radius: 1.7rem;
    margin-bottom: 5rem;
    margin-right: 1rem;
    transition: opacity 0.5s ease-in-out;

    &:hover {
      opacity: 0.7;
      border-color: green;
    }

    figure {
      margin: auto;
    }
    img {
      width: 100%;
      border-radius: 0.625rem;
    }
    figcaption {
      color: #ff9f1c;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      margin-top: 0.5rem;
    }
  }
}
